<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, input_html: { value: 'Please enter description here'} %> 
    <%#= f.input :description, as: :rich_text_area %>
    <%= f.input :condition, collection: ["Need a lot of love", "Brown leaves", "Reasonably healthy", "Healthy", "Almost new", "New"] %>
    <%= f.input :size, collection: ["N/A", "Small", "Medium", "Large"] %>
    <%= f.input :price %>
    <%= f.association :category %>
    <%= f.input :picture, accept: "image/png, image/jpg, image/jpeg" %>

    </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
