<p id="notice"><%= notice %></p>

<div style='float: right;'>
  <%= link_to "Bought Items", orders_bought_path, class:"btn btn-success btn-md" %>
  <%= link_to "Sold Items", orders_sold_path, class:"btn btn-success btn-md" %>
</div>  

<h1>Listings</h1>

<%# Display card for each listing %>
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">

      <div> 
        <% if listing.picture.attached? %>
        <%= image_tag listing.picture, class: "card-img-top img-fluid"%>
      <% else %>
        <%= image_tag "/app/assets/images/image_default.jpg", alt: @listing.name %>
        <% end %>
      </div>

      <div class="card-body">
          <h5 class="card-title"><%= listing.name %></h5>
          <p class="card-text" listing-description><%= listing.description %></p>
          <%= link_to 'Show More', listing, class:"btn btn-success btn-sm" %>
          <p>
          </p>
      </div>    
    </div> 
    </div>     
  <% end %> 
</div>

