<p id="notice"><%= notice %></p>

<div> 
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, alt: @listing.name, class:"show-image-size" %>
  <% else %>
    <%= image_tag "image.png", alt: @listing.name, class:"show-image-size" %>
  <% end %>
</div>

<%# UI behavior. If not sold display 'BUY' button if the listing.user_id does not match current_user.id %>
<% if @listing.sold %>
  <h4>SOLD</h4>
<% elsif current_user && current_user.id == @listing.user_id %>
  <h4>This item already belongs to you.</h4>
<% elsif current_user %>
  <%= button_to "BUY", place_order_path %>
<% else %>
  <h4>Please log in to make a purchase</h4>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Size:</strong>
  <%= @listing.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @listing.sold %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id%>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<%# Authorise current_user to Edit if user.id matches with listing.user_id %>
<% if current_user && current_user.id == @listing.user_id %>
  <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-success btn-lg"%>
<% end %>

<%= link_to 'Back', listings_path, class:"btn btn-outline-success btn-lg" %>
